* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 4rem;
    overflow: hidden;
}

header {
    display: grid;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerIdent {
    font-size: 1.5rem;
}

#boardIdent {
    font-size: 1rem;
}

.gameSquare.selected {
    background-color: rgb(8, 242, 8);
    border: 4px solid rgb(8, 242, 8);
}

.gameSquare.preview {
    background-color: yellow;
}

.arrowContainer {
    grid-column: 1 /3;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    gap: .5rem;
    grid-template-areas: 
    ". . . up    . . rotate"
    ". . left commit right . ."
    ". .  .   down    . . .";
}
.arrow {
    width: 5rem;
    height: 5rem;
}
#rotate {
    grid-area: rotate;
    font-size: .5rem;
}
#up {
    grid-area: up;
}
#left {
    grid-area: left;
}
#right {
    grid-area: right;
}
#down {
    grid-area: down;
}
#commit {
    grid-area: commit;
}

.keypad {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 4fr;
    justify-items: center;
    align-items: center;
    background-color: black;
    padding: 1rem;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.displayButton {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: .5fr .3fr 8fr 5fr;
}

.board {
    border: 1px solid rgba(0, 0, 0, 0.411);
    border-radius: 6px;
    height: 90vw;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    padding: .5rem;
}


.gridSquare {
    display: grid;
    justify-items: center;
    align-items: center;
}

.gameSquare {
    border: 1px solid rgba(0, 0, 0, 0.411);
    border-radius: 6px;
}