* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
}

main {
    height: 95vh;
    width: 95vw;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    grid-template-areas: 
    "player1Theirs player2Theirs"
    "player1Own    player2Own"
    ;
}

.board {
    border: 2px solid #000000;
    height: 45vh;
    width: 45vh;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

.player1.theirs {
    grid-area: player1Theirs;
}

.player1.own {
    grid-area: player1Own;
}

.player2.theirs {
    grid-area: player2Theirs;
}

.player2.own {
    grid-area: player2Own;
}

.gridSquare {
    display: grid;
    justify-items: center;
    align-items: center;
}